@import url("https://fonts.googleapis.com/css?family=Play|Roboto:300,400,500,700");
@font-face {
  font-family: 'Futura PT Light';
  src: url("../fonts/FuturaPT-Light.eot");
  src: url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura PT Book';
  src: url("../fonts/FuturaPT-Book.eot");
  src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura PT Medium';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none; }

input, button {
  border: none; }
  input:focus, button:focus {
    outline: none; }

body.overflow-active {
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 10px; }

.header__top-row {
  background-color: #1d3a43; }
  .header__top-row ul {
    display: flex;
    justify-content: flex-end; }
    .header__top-row ul li a {
      display: block;
      padding: 5px 10px;
      color: #fff;
      transition: color .2s linear; }
      .header__top-row ul li a:hover {
        color: #c61f31; }
.header nav {
  background-color: #f3f5f8;
  height: 70px; }
  .header nav .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    height: 70px; }
    @media only screen and (max-width: 768px) {
      .header nav .row {
        padding-left: 10px; } }
    .header nav .row .header__logo-block {
      display: block;
      position: relative;
      top: 5px; }
    .header nav .row ul {
      height: 100%;
      display: flex;
      font-family: Roboto;
      font-weight: 400;
      font-size: 17px;
      line-height: 6px;
      color: #666666; }
      @media only screen and (max-width: 768px) {
        .header nav .row ul {
          -webkit-transition: transform .2s linear;
          -o-transition: transform .2s linear;
          transition: transform .2s linear;
          transform: translateX(100%);
          position: fixed;
          top: 0;
          right: 0;
          width: 80%;
          height: 100%;
          background-color: #fff;
          z-index: 11;
          align-items: center;
          justify-content: center;
          flex-direction: column; }
          .header nav .row ul.active {
            transform: translateX(0); }
            .header nav .row ul.active li {
              display: block; } }
      .header nav .row ul li {
        height: 100%; }
        @media only screen and (max-width: 768px) {
          .header nav .row ul li {
            display: none;
            height: 50px; } }
        .header nav .row ul li.active {
          font-weight: 500;
          color: #1d3a43;
          position: relative; }
          .header nav .row ul li.active::after {
            content: " ";
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 2px 2px 0 0;
            background-color: #1d3a43;
            position: absolute;
            bottom: 2px;
            left: 0; }
            @media only screen and (max-width: 768px) {
              .header nav .row ul li.active::after {
                display: none; } }
        .header nav .row ul li a {
          height: 100%;
          padding: 0 10px;
          display: flex;
          align-items: center;
          transition: color .2s linear; }
          @media only screen and (max-width: 768px) {
            .header nav .row ul li a {
              height: initial; } }
          .header nav .row ul li a:hover {
            color: #0e1b1f; }
  .header nav .menu__burger {
    height: 19px;
    width: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    display: none;
    z-index: 777;
    cursor: pointer; }
    @media only screen and (max-width: 768px) {
      .header nav .menu__burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .header nav .menu__burger span {
      display: block;
      width: 100%;
      background-color: #c61f31;
      height: 3px;
      border-radius: 3px;
      -webkit-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear;
      position: relative; }
      .header nav .menu__burger span.active {
        background-color: transparent; }
        .header nav .menu__burger span.active::before {
          transform: rotate(45deg);
          top: 0;
          left: 0; }
        .header nav .menu__burger span.active::after {
          transform: rotate(-45deg);
          top: 0;
          left: 0; }
      .header nav .menu__burger span::before {
        content: " ";
        display: block;
        width: 100%;
        background-color: #c61f31;
        position: absolute;
        left: 0;
        top: -8px;
        border-radius: 3px;
        -webkit-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
        height: 3px; }
      .header nav .menu__burger span::after {
        content: " ";
        display: block;
        width: 100%;
        background-color: #c61f31;
        position: absolute;
        left: 0;
        border-radius: 3px;
        -webkit-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
        height: 3px;
        bottom: -8px; }
.header__content {
  height: 600px;
  background-image: url(../img/header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  color: #fff; }
  @media only screen and (max-width: 768px) {
    .header__content {
      height: 400px; } }
  .header__content-title {
    font-family: Roboto;
    font-size: 48px;
    line-height: 66px;
    font-weight: 700;
    max-width: 950px;
    margin: 0 auto;
    padding-left: 25px;
    border: 2px solid #c61f31;
    border-top: none;
    border-left: none;
    position: relative; }
    @media only screen and (max-width: 940px) {
      .header__content-title {
        font-size: 38px;
        text-align: center; } }
    @media only screen and (max-width: 768px) {
      .header__content-title {
        font-size: 27px;
        padding: 15px 0; } }
    @media only screen and (max-width: 576px) {
      .header__content-title {
        font-size: 26px;
        line-height: 34px; } }
    .header__content-title::before {
      content: " ";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: #c61f31;
      position: absolute;
      top: -8px;
      right: 47px; }
    .header__content-title::after {
      content: " ";
      display: block;
      width: 55px;
      height: 2px;
      background-color: #c61f31;
      position: absolute;
      top: 0;
      right: 0; }
  .header__content-description {
    font-family: Roboto;
    font-size: 21px;
    line-height: 60px;
    max-width: 950px;
    margin: 5px auto 0;
    padding-left: 25px; }
    @media only screen and (max-width: 940px) {
      .header__content-description {
        font-size: 18px;
        text-align: center; } }
    @media only screen and (max-width: 768px) {
      .header__content-description {
        font-size: 17px;
        line-height: initial; } }
    @media only screen and (max-width: 576px) {
      .header__content-description {
        font-size: 16px; } }
  .header__content-completed-project {
    display: block;
    width: 300px;
    height: 70px;
    background-color: #c61f31;
    margin: 30px auto 0;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
    transition: background-color .2s linear; }
    @media only screen and (max-width: 340px) {
      .header__content-completed-project {
        width: 90%; } }
    .header__content-completed-project:hover {
      background-color: #9a1826; }

.questions {
  padding-bottom: 55px; }

.question {
  margin-top: 60px; }
  @media only screen and (max-width: 768px) {
    .question {
      margin-top: 30px; } }
  .question__title-block {
    background-color: #f3f5f8;
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 55px;
    color: #333333;
    cursor: pointer; }
    @media only screen and (max-width: 768px) {
      .question__title-block {
        padding-left: 15px;
        height: 65px; } }
    @media only screen and (max-width: 480px) {
      .question__title-block {
        font-size: 15px;
        line-height: 19px;
        height: 50px; } }
    .question__title-block p {
      width: calc(100% - 75px); }
    .question__title-block div {
      width: 75px;
      height: 100%;
      background-image: url(../img/question-arrow.png);
      background-repeat: no-repeat;
      background-position: center center; }
      @media only screen and (max-width: 480px) {
        .question__title-block div {
          width: 50px;
          background-size: 30%; } }
  .question__toggle-block {
    display: none; }
  .question.active .question__toggle-block {
    display: block; }
  .question.active .question__title-block {
    background-color: #1d3a43;
    color: #fff; }
    .question.active .question__title-block div {
      background-image: url(../img/question-arrow-active.png); }
  .question__block {
    margin-top: 55px;
    padding: 0 25px; }
    @media only screen and (max-width: 480px) {
      .question__block {
        margin-top: 25px;
        padding: 0 10px; } }
    .question__block-sizes {
      max-width: 400px;
      margin: 0 auto;
      display: none;
      text-align: center; }
      .question__block-sizes#ostrivna #label-q2_1 {
        margin: 0 90px 0 auto; }
        @media only screen and (max-width: 400px) {
          .question__block-sizes#ostrivna #label-q2_1 {
            margin: 0 65px 0 auto; } }
      .question__block-sizes#kutova #label-q2_1 {
        margin: 0 90px 0 auto; }
        @media only screen and (max-width: 400px) {
          .question__block-sizes#kutova #label-q2_1 {
            margin: 0 65px 0 auto; } }
      .question__block-sizes.choose {
        display: block; }
      .question__block-sizes label {
        font-family: Roboto;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #1d3a43; }
      .question__block-sizes div {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        @media only screen and (max-width: 768px) {
          .question__block-sizes div {
            margin-top: 10px; } }
      .question__block-sizes .question__answer-img-block {
        display: block;
        margin: 0 auto; }
        .question__block-sizes .question__answer-img-block img {
          display: inline-block;
          max-width: 100%; }
          @media only screen and (max-width: 400px) {
            .question__block-sizes .question__answer-img-block img {
              max-width: 170px; } }
      .question__block-sizes input {
        display: inline-block;
        width: 65px;
        height: 20px;
        border: none;
        border-bottom: 1px solid #999;
        font-size: 18px;
        height: 25px;
        text-align: center; }
      .question__block-sizes #label-q2_1 {
        display: block;
        margin: 0 auto;
        width: 92px; }
  .question ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #1d3a43; }
    @media only screen and (max-width: 1199px) {
      .question ul {
        flex-wrap: wrap;
        justify-content: center; } }
    .question ul li {
      padding: 10px;
      border: 2px solid rgba(255, 255, 255, 0);
      border-radius: 3px; }
      @media only screen and (max-width: 1199px) {
        .question ul li {
          width: 33.33334%; } }
      @media only screen and (max-width: 992px) {
        .question ul li {
          width: 50%; } }
      .question ul li.active {
        border: 2px solid #c61f31; }
      .question ul li p {
        margin-bottom: 20px; }
        @media only screen and (max-width: 768px) {
          .question ul li p {
            margin-bottom: 10px; } }
      .question ul li img {
        display: inline-block;
        max-width: 100%; }
  .question__buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center; }
    .question__buttons a {
      display: block;
      width: 184px;
      height: 60px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
      -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
      box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
      font-family: Roboto;
      font-weight: 500;
      cursor: pointer; }
      @media only screen and (max-width: 480px) {
        .question__buttons a {
          height: 50px; } }
      .question__buttons a.question__buttons-prev {
        color: #333333;
        background-color: #f3f5f8;
        margin-right: 26px;
        transition: background-color .2s linear; }
        .question__buttons a.question__buttons-prev:hover {
          background-color: #d3dae5; }
      .question__buttons a.question__buttons-next {
        color: #fff;
        background-color: #1d3a43;
        transition: background-color .2s linear; }
        .question__buttons a.question__buttons-next:hover {
          background-color: #0e1b1f; }
      .question__buttons a.question__buttons-calculate {
        color: #fff;
        background-color: #c61f31;
        width: 300px;
        transition: background-color .2s linear; }
        .question__buttons a.question__buttons-calculate:hover {
          background-color: #9a1826; }
  .question--third ul {
    flex-wrap: wrap;
    width: 660px;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      .question--third ul {
        width: 100%; } }
    .question--third ul li {
      width: 25%; }
      @media only screen and (max-width: 768px) {
        .question--third ul li {
          width: 33.33334%; } }
      @media only screen and (max-width: 576px) {
        .question--third ul li {
          width: 50%;
          padding: 0 5px;
          margin-top: 20px; } }
      .question--third ul li:first-child {
        margin-top: 0; }
      .question--third ul li:nth-child(2) {
        margin-top: 0; }
      @media only screen and (max-width: 576px) {
        .question--third ul li p {
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 0; } }
  .question--third .question__answer-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; }
  .question--fourth ul {
    width: 660px;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      .question--fourth ul {
        width: 100%; } }
    .question--fourth ul li {
      width: 25%; }
      @media only screen and (max-width: 768px) {
        .question--fourth ul li {
          width: 50%; } }
  .question--fourth .question__answer-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; }
    .question--fourth .question__answer-img-block--mt44 {
      margin-top: 44px; }
      @media only screen and (max-width: 768px) {
        .question--fourth .question__answer-img-block--mt44 {
          margin-top: 0; } }
  .question--fifth .question__answer-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; }
    @media only screen and (max-width: 480px) {
      .question--fifth .question__answer-img-block {
        height: 175px; } }
    @media only screen and (max-width: 400px) {
      .question--fifth .question__answer-img-block {
        height: 125px; } }
  .question--sixth ul {
    width: 660px;
    margin: 0 auto; }
    @media only screen and (max-width: 992px) {
      .question--sixth ul {
        width: 100%; } }
    .question--sixth ul li {
      width: 33.33334%; }
      @media only screen and (max-width: 768px) {
        .question--sixth ul li {
          width: 50%; } }
      @media only screen and (max-width: 480px) {
        .question--sixth ul li {
          width: 100%; } }
  .question--sixth .question__answer-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; }

.footer {
  background-color: #222222;
  color: #fff;
  padding: 50px 0; }
  @media only screen and (max-width: 768px) {
    .footer {
      padding: 25px 0; } }
  .footer__row {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .footer__row {
        flex-wrap: wrap;
        text-align: center; } }
  .footer__col {
    width: 33.33334%;
    padding: 0 25px; }
    @media only screen and (max-width: 768px) {
      .footer__col {
        width: 100%; } }
    @media only screen and (max-width: 768px) {
      .footer__col:not(:first-child) {
        margin-top: 20px; } }
  .footer__title {
    font-family: "Futura PT Medium";
    font-size: 21px;
    line-height: 24px; }
  .footer__content {
    display: block;
    font-family: "Futura PT Medium";
    font-size: 18px;
    line-height: 21px;
    margin: 5px 0; }
    .footer__content i {
      color: #c61f31;
      font-size: 16px; }
  .footer a {
    transition: color .2s linear;
    color: #c61f31; }
    .footer a:hover {
      color: #9a1826;
      text-decoration: underline; }

.calculate-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center; }
  .calculate-modal-block {
    width: 500px;
    background-color: #fff;
    border: 15px solid #ccc; }
    @media only screen and (max-width: 576px) {
      .calculate-modal-block {
        width: 95%;
        border-width: 5px; } }
  .calculate-modal .modal__title {
    background-color: #1d3a43;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Roboto;
    font-size: 25px;
    position: relative; }
    @media only screen and (max-width: 576px) {
      .calculate-modal .modal__title {
        font-size: 20px; } }
    .calculate-modal .modal__title .modal__close {
      position: absolute;
      width: 40px;
      height: 40px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../img/close.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 75%;
      cursor: pointer; }
  .calculate-modal .modal__description {
    margin-top: 20px;
    padding: 0 10px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    text-align: center; }
  .calculate-modal input:not([type="submit"]) {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 5px auto;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    font-family: Roboto;
    padding: 0 10px; }
    @media only screen and (max-width: 576px) {
      .calculate-modal input:not([type="submit"]) {
        font-size: 16px; } }
  .calculate-modal input[type="submit"] {
    display: block;
    width: 300px;
    height: 70px;
    background-color: #c61f31;
    color: #fff;
    margin: 20px auto;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
    transition: background-color .2s linear;
    cursor: pointer; }
    @media only screen and (max-width: 576px) {
      .calculate-modal input[type="submit"] {
        width: 80%; } }
    .calculate-modal input[type="submit"]:hover {
      background-color: #9a1826; }

.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center; }
  .project-modal-block {
    width: 500px;
    background-color: #fff;
    border: 15px solid #ccc; }
    @media only screen and (max-width: 576px) {
      .project-modal-block {
        width: 95%;
        border-width: 5px; } }
  .project-modal .modal__title {
    background-color: #1d3a43;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Roboto;
    font-size: 25px;
    position: relative; }
    @media only screen and (max-width: 576px) {
      .project-modal .modal__title {
        font-size: 20px; } }
    .project-modal .modal__title .modal__close {
      position: absolute;
      width: 40px;
      height: 40px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../img/close.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 75%;
      cursor: pointer; }
  .project-modal .modal__description {
    margin-top: 20px;
    padding: 0 10px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    text-align: center; }
  .project-modal input:not([type="submit"]) {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 5px auto;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    font-family: Roboto;
    padding: 0 10px; }
    @media only screen and (max-width: 576px) {
      .project-modal input:not([type="submit"]) {
        font-size: 16px; } }
  .project-modal input[type="submit"] {
    display: block;
    width: 300px;
    height: 70px;
    background-color: #c61f31;
    color: #fff;
    margin: 20px auto;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.51);
    transition: background-color .2s linear;
    cursor: pointer; }
    @media only screen and (max-width: 576px) {
      .project-modal input[type="submit"] {
        width: 80%; } }
    .project-modal input[type="submit"]:hover {
      background-color: #9a1826; }
  .project-modal input[type="file"] {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 5px auto;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-family: Roboto;
    padding: 0 10px;
    margin-top: 22px; }
    @media only screen and (max-width: 576px) {
      .project-modal input[type="file"] {
        font-size: 16px;
        margin-top: 18px; } }

.swal-modal {
  font-family: Roboto;
  font-weight: 300; }
  .swal-modal .swal-text {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
